# Bỏ qua file cấu hình chứa mật khẩu/API Key
.env

# Bỏ qua thư mục ảo Python
venv/
env/
.venv/

# Bỏ qua file cache của Python (file rác)
__pycache__/
*.pyc

# Bỏ qua dữ liệu hệ thống (nếu muốn nộp database sạch)
# sensor_data.json
# users.json

# Bỏ qua file hệ thống máy Mac/Windows
.DS_Store
Thumbs.db